body{
  background: $blueberry;
}
.top-nav {
  color: $cream;
  display: flex;
  justify-content: flex-end;
  background: $sand;
  width: 100%;
  height: 7.5rem;
  li.nav-item {
    background: $gold;
    width: 72px;
    height: 32px;
    border-radius: 30px;
    a {
      text-decoration: none;
      color: $eggshell;
      }
    }
  }
}
